mixin header(title, description, author, icon, theme)
	head
		meta(charset='utf-8')
		title=title
		meta(name='description' content=description)
		meta(name='author' content=author)
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='HandheldFriendly' content='true')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='viewport' content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=0')
		meta(name='screen-orientation' content='landscape')
		meta(property="og:title" content=title)
		meta(property="og:description" content=description)
		meta(property="og:image" content=icon ? icon : '../favicon.png')
		link(rel='shortcut icon' href=icon ? icon : '../favicon.png')
		link(rel='stylesheet' href='../../node_modules/reveal.js/dist/reset.css')
		link(rel='stylesheet' href='../../node_modules/reveal.js/dist/reveal.css')
		link#theme(rel='stylesheet' href=theme ? theme : '../themes/aph/theme_aph.scss')
		link(rel='stylesheet' href='../themes/base/print.scss')
		block
